@font-face {
    font-family: seg;
    src: url("fonts/digital-7.ttf");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: seg, monospace;
}

html {
    background-image: url(background.svg);
    background-repeat: no-repeat;
}

.display {
    background-color: black;
    color: green;

    border: 4px solid grey;
    box-shadow: 4px 4px 0px darkgrey, 6px 6px 0px darkgrey, 8px 8px 0px darkgrey, 10px 10px 0px darkgrey, 12px 12px 0px darkgrey;

    user-select: none;

    min-width: 355px;
    max-height: 136.8px;

    font-size: 64px;

    border-radius: 0.3em;
    padding: 25px 20px 25px 20px;
}

#format {
    color: #4d4d4d;
    text-shadow: none;
    font-size: 24px;

    text-align: center;
}

.button {
    cursor: default;
    user-select: none;

    &:hover {
        transform: scaleY(1.3) translateY(-2px);
    }

    &:active {
        transform: scaleY(1) translateY(0px);
    }
}

.toggle {
    transition: all 0.3s;

    width: 64px;
    height: 20px;
    background-color: red;

    border-radius: 10px 10px 0px 0px;
}

.freezeframe {
    transition: all 0.3s;

    width: 64px;
    height: 20px;
    background-color: green;

    border-radius: 10px 10px 0px 0px;
}

.buttons {
    display: flex;
    justify-content: start;
    margin-top: 60px;
    width: 305px;

    transition: all 0.3s;
}

.buttons * {
    margin-right: 10px;
}

.toggle, .freezeframe {
    font-size: 8px;
    text-align: center;

    padding: 5px 8px;
    color: white;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.freezeframeDisplay {
    margin: 0 auto;
    border-radius: 0.3em;
    width: 175px;
    height: 32px;

    padding: 5px 10px 5px 10px;

    font-size: 32px;
    text-align: left;

    background-color: gray;
    color: white;

    margin-top: 18px;

    p {
        position: relative;
        top: -41px;
    }

    .tableft, .tabright {
        width: 8px;
        height: 18px;
        background-color: gray;

        position: relative;
    }

    .tableft {
        left: 15px;
        top: -23px;
    }

    .tabright {
        right: -130px;
        top: -41px;
    }
}

#newest {
    color: limegreen;
    border: 1px solid black;

    border-radius: 0.3em;
    overflow: hidden;
    width: 50px;
    padding-left: 5px;

    font-family: monospace;
    font-size: 12px;
    background-color: white;

    position: relative;
    top: 10px;
    left: 15px;
    z-index: 55;
}

.games {
    position: absolute;
    left: -85px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 150px;

    transition: all 0.3s;

    * {
        font-family: monospace;
        color: white;
    }

    background-color: grey;
    border-radius: 0 1em 1em 0;

    .buttons {
        display: flex;
        flex-direction: column;
        width: min-content;

        align-items: center;
        justify-content: center;
        width: 100%;

        margin: 0;
        margin-top: -15px;

        cursor: default;
        
        .button {
            background-color: green;
            outline: none;
            border: none;
            border-radius: 10px 10px 0px 0px;
            transition: all 0.3s;
            border-bottom: 5px solid darkslategray;
            margin: 10px;
            margin-right: 40px;
            padding: 5px;
        }
    }

    .menutext {
        position: relative;
        top: 90px;
        right: -40px;

        transform: rotate(90deg);

        cursor: default;

        transition: all 0.3s;

        #p {
            transition: all 0.3s;
        }

        &:hover #p {
            color: green;
        }

        .arrow {
            transition: all 0.3s;
            display: inline-block;
        }
    }
}

.instructions {
    width: 75%;
    font-family: monospace;
    font-size: 24px;
    margin-bottom: 5px;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}